<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Best of the Year</title>
   <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
</head>
<body>
    <th:block th:replace="frag/header :: header"></th:block >
    <div class="container mt-5">
        <h1 class="mb-4">Best of the Year</h1>
        <div class="text-center">
           <img class="img-fluid"  th:src="@{https://wallpapercave.com/wp/wp7250087.jpg}" />
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat nisi quis nibh fringilla, id dictum sapien interdum. Donec ultrices tortor sed neque porta tristique. Duis consectetur, turpis eget aliquam efficitur, metus velit ultrices felis, vel feugiat eros metus ut justo. Quisque pellentesque pulvinar dolor nec semper. Vivamus ac volutpat ex. Ut at nunc aliquet, rhoncus turpis eget, dictum quam.</p>
    </div>

    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
