<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${movie.titolo}"></title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:replace="frag/header :: header"></div>

    <div class="container mt-5">
        <h1 class="mb-4" th:text="${movie.titolo}"></h1>
        <a class="btn btn-primary mt-3" href="/movies">Back to Movies</a>
    </div>

    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
